{% extends 'store/base/main.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <div id="user-info">
                        <div class="form-field">
                            <input required type="text" class="form-control" name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input required type="email" class="form-control" name="email" placeholder="Email..">
                        </div>
                    </div>
    
                    <div id="shipping-info">
                        <hr>
                        <h3>Shipping Information:</h3>
                        <hr>
                        <div class="form-field">
                            <input type="text" class="form-control" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="state" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="zipcode" placeholder="Zip code..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="country" placeholder="Country..">
                        </div>
                    </div>
    
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
                <div id="paypal-button-container"></div>
                <!-- <button id="make-payment">Make Payment</button> -->
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="box-element" style="width:120%">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}" alt=""></div>
                        <div style="flex:2"><p>{{item.product.name}}</p></div>
                        <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
                        <div style="flex:1"><p>x{{item.quantity}}</p></div>
                        <div style="flex:1"><button data-product={{item.product.id}} data-action="delete" type="button" class="btn btn-danger update-cart">Delete</button></div>
                    </div>
                {% endfor %}
                <h5>Items: {{order.cart_total_items}}</h5>
                <h5>Total: ${{order.cart_total_price|floatformat:2}}</h5>
            </div>
        </div>
    </div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AWFvCXH9pH8QAASRDK_D5oEir3018S8uzdwDq8fr8I6jlIbdxtQ9ob5FvGTHTb9Z86FPZl5YzqyDVmOk&currency=USD&disable-funding=credit"></script>

    <script>
        const total = '{{order.cart_total_price}}'

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style:{
                color: 'gold',
                shape: 'pill'
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    // var transaction = orderData.purchase_units[0].payments.captures[0];
                    // alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    submitFormData();
                    const element = document.getElementById('paypal-button-container');
                    element.innerHTML = '';
                    element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }   


        }).render('#paypal-button-container');
    </script>

    <script type="text/javascript">
        const shipping = '{{order.shipping}}'
        const cartItems = '{{cartItems}}'
        const totalPrice = '{{order.cart_total_price|floatformat:2}}'

        const userInfo = document.getElementById('user-info')
        const form = document.getElementById('form')
        const formWrapper = document.getElementById('form-wrapper')
        const makePayment = document.getElementById('make-payment')
        const paymentInfo = document.getElementById('payment-info')
        // const formButton = document.getElementById('form-button')
        csrftoken = form.getElementsByTagName('input')[0].value


        function submitFormData() {

            const userFormData = {
                'name':null,
                'email':null,
                'total':totalPrice,
            }

            const shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
            }

            if(shipping !== 'False') {
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
            }

            if(user === 'AnonymousUser') {
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }

            const url = '/process_order/';
            fetch(url, {
                method:'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
            }).then(res => res.json()).then(data => {
                console.log('Success: ', data);
                alert('Transaction completed');
                // clear the "cart" in the cookie
                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

                window.location.href = "{% url 'store' %}"
            })
        }

        if(cartItems == 0){
            document.getElementById('form-button').setAttribute('disabled', 'disabled');
        } else {
            document.getElementById('form-button').removeAttribute('disabled');
        }


        if(shipping == 'False'){
            document.getElementById('shipping-info').innerHTML = ''
        }

        if(user !== 'AnonymousUser') {
            userInfo.innerHTML = ''
        }

        if(shipping === 'False' && user !== 'AnonymousUser'){
            // Hide the entire from if the user is logged in and shipping is false
            formWrapper.classList.add('hidden');

            paymentInfo.classList.remove('hidden');
        }

        // Display "payment" button when form is submitted
        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('Form submitted...');

            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        // makePayment.addEventListener('click', function(e) {
        //     submitFormData();
        // })
        
    </script>
{% endblock content %}