{% extends 'store/base/main.html' %}

{% load static %}

{% block content %}
    <div class="row" style="margin-bottom: 40px">
        {% for product in products %}
            <div class="col-lg-4" style="margin-bottom: 10px;">
                <img src="{{product.imageURL}}" alt="item" class="thumbnail" style="height: 330px;">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>

                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-primary add-btn update-cart">Add to Cart</button>
                    <a href="{% url 'product_details' product.id %}" class="btn btn-outline-success btn-view" data-product={{product.id}}>View</a>
                    <h4 style="display: inline-block; float: right;"><strong>${{product.price|floatformat:2}}</strong></h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}